body{
    margin: 0;
    padding: 0;
    /* background: url("https://images.template.net/123491/chinese-new-year-design-background-7l40b.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    min-height: 100vh;
    position: relative;
    font-family: Helvetica;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

.menu{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0
    
}

.logo img{
    height: 100px;
}


.menu-main{
    width: 50%;
}

.menu-main ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.menu-main ul li a{
    text-decoration: none;
}

.menu-main ul li{
    list-style: none;
}

.menu-main ul li a:hover{
    color:red;
    text-decoration: underline;
}
.social a img{
    height: 50px;
}

.main-contents{
    background-color: #E0E0E0;
    width: 75%;
    margin-top: 50px;
    margin-left: 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.main{
    position: relative;
    height: 100vh;
}



.main-contents div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.main-contents div h2{
    margin-left: 7px;
}

.main-contents hr{
    width: 100%;
}

.main-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.main-content a{
    margin-left: 10px;
    text-decoration: none;
    color: rgb(70, 70, 252);
    font-size: 18px;
    margin-bottom: 8px;
}

.text{
    width: 75%;
    margin-left: 12.5%;
    font-size: 22px;

}

.contents{
    position: relative;
    margin-bottom: 50px;
}






.text img{
    width: 50%;
    margin-left: 25%;

}

.imgs{
    width: 65%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.imgs img{
    width: 40%;
}

.title{
    margin-left: 12.5%;
    width: 75%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-size: 20px;

}

/* .content img{
    width: 50%;
} */





.footer{
    height: 7vh;
    
    text-align: center;
    background-color: lightgray;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
}


.footer p{
    width: 100%;
    color: gray;
    
}